<!DOCTYPE html>
<html>
<head><meta charset="UTF-8"></head>
<body>
<nav class="sidebar sidebar-open" th:fragment="nav-sidebar">
    <ul class="nav nav-pills">
        <li class="nav-item"><a class="nav-link " th:href="@{/}"> <i
                class="oi oi-home"></i> <span th:text="#{sidebar.link.home}">Home</span>
        </a></li>
    </ul>

    <div sec:authorize="hasRole('ROLE_Admin')">
        <ul class="nav nav-pills">
            <li class="nav-item"><span class="nav-link active" th:text="#{sidebar.titulo.medico}">Medicos</span></li>
            <li class="nav-item"><a class="nav-link"
                                    th:href="@{/medicos/cadastrar}"> <i class="oi oi-plus"></i> <span th:text="#{sidebar.link.cadastrar}">Cadastrar</span>
            </a></li>
            <li class="nav-item"><a class="nav-link"
                                    th:href="@{/medicos/listar}"> <i class="oi oi-spreadsheet"></i>
                <span th:text="#{sidebar.link.listar}">Listar</span>
            </a></li>
        </ul>
    </div>

    <div sec:authorize="hasRole('ROLE_Admin')">
        <ul class="nav nav-pills">
            <li class="nav-item"><span class="nav-link active" th:text="#{sidebar.titulo.paciente}">Pacientes</span></li>
            <li class="nav-item"><a class="nav-link"
                                    th:href="@{/pacientes/cadastrar}"> <i class="oi oi-plus"></i> <span th:text="#{sidebar.link.cadastrar}">Cadastrar</span>
            </a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/pacientes/listar}">
                <i class="oi oi-spreadsheet"></i> <span th:text="#{sidebar.link.listar}">Listar</span>
            </a></li>
        </ul>
    </div>

    <div sec:authorize="hasAnyRole('ROLE_Admin','ROLE_Medico','ROLE_Paciente')">
        <ul class="nav nav-pills">
            <li class="nav-item"><span class="nav-link active" th:text="#{sidebar.titulo.consulta}">Consultas</span></li>
            <li class="nav-item"><a class="nav-link"
                                    th:href="@{/consultas/cadastrar}"> <i class="oi oi-plus"></i> <span th:text="#{sidebar.link.cadastrar}">Cadastrar</span>
            </a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/consultas/listar}">
                <i class="oi oi-spreadsheet"></i> <span th:text="#{sidebar.link.listar}">Listar</span>
            </a></li>
        </ul>
    </div>

</nav>
</body>
</html>